/* right main container grid */
#mainContainer {
    grid-area: 1 / 2 / 2 / 3;
}

// add button container
#header {
    font-size: 30px;
    padding-left: 10px;
}

// add button styling fix
#add-reminder {
    font-size: 48px;
    font-weight: bold;
    padding: 20px 2px 2px 15px;
    cursor: pointer;
}
